/* Reset some default browser styles */
body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
}
/* Header styles */
header {
  background-color: #333;
  color: #fff;
  padding: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.font{
  font-family: 'Bungee Spice', sans-serif;
}
nav ul {
  list-style: none;
  display: flex;
  
}
nav li {
  margin-right: 20px;
}
nav a {
  text-decoration: none;
  color: #fff;
}
img{
  height: 200px;
  width: 200px;
  margin-left: 10px;
}
/* Hero section styles */
.hero {
  background-color: #333;
  background-size: cover;
  text-align: center;
  padding: 50px 0;
  color: #fff;
}
.hero h2 {
  font-size: 36px;
  margin-bottom: 30px;
}
.hero p {
  font-size: 18px;
  margin-bottom: 30px;
  margin-top: 20px;
}
.cta-button {
  display: inline-block;
  padding: 10px 10px;
  background-color: #ff6600;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 40px;
  font-weight: bold;
  margin-top: 10px;
}
/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
